<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    <body>
         <div class="main-content">
            {{>header}}
            <a href="/"> <- Turn Back</a>
        </div>
    </body>
</html>